body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 span {
    color: red;

}

h1 {
    font-size: 50px;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.first-section {
    width: 50%;
    padding-left: 3%;

}

.first-section img {
    width: 80%;
}

.contact-button {
    text-decoration-line: none;
    background-color: orangered;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;

}

.top-banner {
    background-image: url(images/kiss.png);
    background-repeat: no-repeat;
}

.services {
    background-image: url(images/55a794baf9ecdaaa68bc60e80c5523e8--background-designs-psd.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 3%;
}