body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 span {
    color: red;

}

h1 {
    font-size: 50px;
}

section {
    display: flex;
}

.first-section {
    width: 50%;
    padding-left: 2%;
}

.first-section img {
    width: 80%;
}

.contact-button {
    text-decoration-line: none;
    background-color: orangered;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;

}